@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cinzel:wght@400..900&family=Mountains+of+Christmas:wght@400;700&family=Rubik+Glitch&family=Rubik+Iso&family=Silkscreen:wght@400;700&display=swap');

body{
    font-family: "Silkscreen", sans-serif;
    font-weight: 100;
    font-style: normal;
    color:white;
    text-align:left;
    align-content:center;
    justify-content:center;
    align-items:center;
    background-color:black;
    text-shadow:1px 1px 10px rgb(156, 155, 155);
}
h1{
    text-decoration:underline;
}
span{
    margin-left:60px;
    display:flex;
    flex-direction:column;

    
}